body{width: 1200px; margin: 0 auto;}
.header{height:112px; display: flex; border-bottom: 1px; border-color: #ddd; border-style: solid;}
#logo{width:300px; flex: 1; border-right: 1px; border-color: #ddd; border-style: solid;}
#logo > img{width:300px}
#gnb{flex:3;}
#gnb > ul{display: flex;}
#gnb > ul > li{flex: 1; line-height: 112px; height: 112px; text-align: center; cursor: pointer;}
#gnb > ul > li:HOVER{background: #dd5555;}
#gnb > ul > li:HOVER > a{color:#fff;}
.box{display: block; box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25); margin-bottom:1.5em; text-align: center; transition: all 0.2s ease; padding:1em 0;}
.box:HOVER{background-color: rgba(255, 0, 0, 0.075); border:1px solid #ff0000;}
.box img, .box iframe{width:100%;}
.box h3{margin:1em;}

p{font-size: 30px;}